@import '@fontsource/fira-mono';
@import '@fontsource/poppins';
@import '@fontsource/poppins/600.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'GT Walsheim';
		src: local('GT Walsheim'), local('GT-Walsheim'), local('gt-walsheim'), url('/fonts/GTWalsheim/GT-Walsheim-Pro-Black.woff2');
		font-weight: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'GT Walsheim';
		src: local('GT Walsheim'), local('GT-Walsheim'), local('gt-walsheim'), url('/fonts/GTWalsheim/GT-Walsheim-Pro-Bold.woff2');
		font-weight: bold;
		font-display: swap;
	}
}
